@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html{
    scroll-behavior: smooth!important;
}

*{
    font-family: "Play", serif;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    background-color: #bdc3c7;
}

body::-webkit-scrollbar-thumb{
    background-color: #FF6122;
    border-radius: 10px;
}

/*header-area*/
.navbar-brand img{
    height: 60px;
}

.header-outer{
    position: sticky;
    top: 0;
}

.back-to-top-outer{
    width: 50px;
    height: 50px;
    background-color: #FF6122;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 3px;
    box-shadow: 4px 4px 4px #95a5a6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top-outer a{
    width: 50px;
    height: 50px;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    text-decoration: none;
}

.fa-solid{
    font-size: 18px;
    color: white;
}
/*header-area*/

.outer{
    width: 100%;
    height: 500px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*home-area*/
.home-outer{
    width: 100%;
    height: 90vh;
    background-image: url('https://img.freepik.com/free-photo/minimalistic-home-desk-design_23-2148991431.jpg?t=st=1732975156~exp=1732978756~hmac=10fb9dea66e2233262f34a88342b58a7192aee9fd77c7cf830c01d8429617215&w=826');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-text{
    color: white;
}

.header-text{
    font-weight: 500;
    font-size: 50px;
    color: white;
    line-height: 45px;
}

.home-widgets-outer{
    margin-top: -120px;
}

.widget-outer{
    height: 300px;
    margin-bottom: 20px;
}

.widget-inner{
    width: 100%;
    height: 100%;
    border: 1px solid #95a5a6;
    border-radius: 3px;
    background-color: white;
}
/*home-area*/
