@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html{
    scroll-behavior: smooth!important;
}

*{
    font-family: "Play", serif;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    background-color: #bdc3c7;
}

body::-webkit-scrollbar-thumb{
    background-color: #FF6122;
    border-radius: 10px;
}

/*header-area*/
.navbar-brand img{
    height: 60px;
}

.header-outer{
    position: sticky;
    top: 0;
}

.back-to-top-outer{
    width: 50px;
    height: 50px;
    background-color: #FF6122;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 3px;
    box-shadow: 4px 4px 4px #95a5a6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top-outer a{
    width: 50px;
    height: 50px;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    text-decoration: none;
}

.fa-solid{
    font-size: 18px;
    color: white;
}
/*header-area*/

.outer{
    width: 100%;
    height: 500px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*home-area*/
.home-outer{
    width: 100%;
    height: 90vh;
    background-image: url('https://img.freepik.com/free-photo/minimalistic-home-desk-design_23-2148991431.jpg?t=st=1732975156~exp=1732978756~hmac=10fb9dea66e2233262f34a88342b58a7192aee9fd77c7cf830c01d8429617215&w=826');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-text{
    color: white;
}

.header-text{
    font-weight: 500;
    font-size: 50px;
    color: white;
    line-height: 45px;
}

.home-widgets-outer{
    margin-top: -100px;
}

.widget-outer{
    height: 300px;
    margin-bottom: 20px;
}

.widget-inner{
    width: 100%;
    height: 100%;
    border: 1px solid #95a5a6;
    border-radius: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.widget-inner-top{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget-inner-bottom{
    flex: 1;
    padding: 10px;
}

.widget-icon{
    background-color: #FF214F;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget-header{
    text-align: center;
    font-weight: 600;
}

.widget-desc{
    text-align: center;
    color: #535c68;
}

.widget-icon i{
    font-size: 35px;
    color: white;
}
/*home-area*/

/*Service-area*/
.service-outer{
    min-height: 600px;
    width: 100%;
    background-image: url('https://images02.nicepage.com/c461c07a441a5d220e8feb1a/24af2a14af16514caf47360a/33581d05cec4a3308cd79979a51eed9d.jpeg');
    background-size: cover;
    background-position: left;

}

.service-container{
    min-height: 750px;
}

.row{
    height: 100%;
}

.service-container-inner{
    height: 100%;
}

.service-right-side{
    min-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-top{
    height: 350px;
    background-color: #F2F1F2;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-top:last-child{
    margin-bottom: 0;
}

.right-bottom{
    height: 250px;
    background-color: #F2F1F2;
}

.service-top-title{
    color: #FF214F;
}

.service-top-header{
    font-weight: 600;
}

.service-top-desc{
    margin-top: 20px;
}

.service-grid-outer{
    width: 100%;
    height: auto;
}

.service-grid-inner{
    height: 400px;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid-1{
    height:400px;
    background-image: url('https://images01.nicepage.com/2c/36/2c363cea606f515e74b1e427f2b437c0.jpeg');
    background-size: cover;
    background-position: center;
}

.grid-3{
    height: 400px;
    background-image: url('https://images01.nicepage.com/9b/3f/9b3fb50d7f1060045a2fb67bc06f4802.jpeg');
    background-size: cover;
    background-position: center;
}

.link , .service-grid-title{
    color: #FF214F;
}

.service-grid-header{
    color: white;
}

.service-grid-desc{
    color: #95a5a6;
}
/*Service-area*/
